<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879540621070-m1vc8u13c01qo18lufg9uldmldp6g7hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879540621070-m1vc8u13c01qo18lufg9uldmldp6g7hr</string>
	<key>API_KEY</key>
	<string>AIzaSyCeCDDd9OvoDze8hbzuKnVYotd8_HabDbw</string>
	<key>GCM_SENDER_ID</key>
	<string>879540621070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gameonanil.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-food-delivary-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-food-delivary-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879540621070:ios:e49b604e736fcedb4f515f</string>
</dict>
</plist>